.newsletter {
  background: #f7f7f7;
  /* modo de manter a cor do fundo sem ter outra div envolvendo antes */
  padding: 3.75rem calc((100% - 960px)/2);
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.newsletter-info {
  flex: 1 1 260px;
  color: #A4A4A4;
}

.newsletter-info h2 {
  color: #A4A4A4;
}

.newsletter-info p {
  font-size: 1.25rem;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 0.5rem;
}

.newsletter-form {
  flex: 2 1 260px;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 200px;
  font-size: 1.25rem;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", sans-serif;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1 1 200px;
  font-family: "Nunito", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  color: white;
  border: none;
  margin: 0;
  cursor: pointer;
  padding: 1rem 0.5rem;

}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5rem;
  }
}