.qualidade {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem 0.5rem;
}

.qualidade-item {
  flex: 1 1 300px;
}

.qualidade-item h2 {
  font-size: 2.25rem;
  color: #a4a4a4;
  margin-bottom: 1.25rem;
}

.qualidade-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 0.5rem;
}

.qualidade-item:nth-of-type(3n+1) h2::before {
  background: #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before {
  background: #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2::before {
  background: #66d9eb;
}

.qualidade-item p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}